cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
cmake-build-primerunrelease
cmake-build-primerundebug
.idea
data/*
tmp/*
scenes/tmp/*
scenes/envmap/highres/*
*.zip
imgui.ini
report
libs/ispc-v1.17.0-windows
libs/glew-2.1.0
scenes/models