[submodule "libs/stb"]
	path = libs/stb
	url = git@github.com:nothings/stb.git

[submodule "libs/ImGui"]
	path = libs/ImGui
	url = git@github.com:ocornut/imgui.git
	branch = docking

[submodule "libs/pugixml"]
	path = libs/pugixml
	url = git@github.com:zeux/pugixml.git

[submodule "libs/pngwriter"]
	path = libs/pngwriter
	url = git@github.com:pngwriter/pngwriter.git

[submodule "libs/libpng"]
	path = libs/libpng
	url = git@github.com:glennrp/libpng.git

[submodule "libs/zlib"]
	path = libs/zlib
	url = git@github.com:madler/zlib.git

[submodule "libs/freetype"]
	path = libs/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
